*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body{
  font-family: 'Oswald', sans-serif;
  width:  100%;
  height: 100%;
  margin: 0;
}
body::-webkit-scrollbar { width: 0 !important }

#container {
 min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 236px;
}

.logo-div,.nav-links{
  display: flex;
}

header{
  display: flex;
  position: relative;
  margin: auto;
  background-color: grey;
  min-height: 8vh;
  align-items: center;
  padding: 1%;
  width: 100%;
  overflow: auto;
}
header li{
 
  display:inline;
  padding: 0 10px 0 10px;
}

.logo{
  font-weight: 400;
 text-transform: uppercase;
 letter-spacing: 2px;
  color: white;
}

.nav-links a{
  float: left;
  display: block;
  color:whitesmoke;
  text-align: center;
  text-decoration: none;
}
.nav-links{
  justify-content: space-around;
  list-style: none;
  width: 2%;
  letter-spacing: 1px;
  font-size: 17px;
}
.nav-links a:hover{
  background-color: grey;
  color:black;
}
.nav-links .icon :nth-child(1){
  width: 10px;
  height: 3px;
  background-color: white;
  
}
#nav-links .icon div{
  width: 10px;
  height: 5px;
  background-color: white;
}
.logo-div{
flex: 2;
}

nav{
  display: flex;
  align-items: center;
  flex: 1;
  padding: 1%; 
}
.mobile div{
  width: 10px;
  height: 2px;
  background-color: whitesmoke
}
@media screen and (max-width: 500px) {
  header {
    float: none;
    display: block;
  }
}

.logo span {
  color: orange;
}

#canvas {
  position: relative;
  overflow: auto;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:2%;
}

/* Footer Styling */
.footer {
  background: grey;
  position: relative;
  height: 236px;
  margin-top: -236px;
  clear: both;
}

.footer-content{
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}

.footer-section {
  flex: 1;
  padding: 15px;
}

.footer .footer-content .links ul a {
  color: black;
  padding-left: 25px;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  font-size: 1.1em;
  transition: all .3s;
}

.footer .footer-content .links ul a:hover {
  color: orange;
  margin-left: 15px;
  transition: all .3s;
}

.footer .footer-content .social-links .contact span{
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.footer .footer-content .social-links .contact span i{
  color: orange;
}

.footer .footer-content .social-links .socials a {
  border: 1px solid black;
  color:  black;
  width: 45px;
  height: 41px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.1em;
  border-radius: 5px;
  transition: all 0.3s;
}

.footer .footer-content .social-links .socials a:hover{
  color: orange;
  border: 1px solid orange;
  transition: all 0.3s;
}



