*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body{
  font-family: 'Oswald', sans-serif;
  width:  100%;
  height: 100%;
  margin: 0;
}

#container {
 min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 200px;
}

.logo-div,.nav-links{
  display: flex;
}

header{
  display: flex;
  margin: auto;
  background-color: grey;
  min-height: 8vh;
  align-items: center;
  padding: 1%;
  width: 100%;
  overflow: auto;
}
header li{
 
  display:inline;
  padding: 0 10px 0 10px;
}

.logo{
  font-weight: 400;
 text-transform: uppercase;
 letter-spacing: 2px;
  color: white;
}

.nav-links a{
  float: left;
  display: block;
  color:whitesmoke;
  text-align: center;
  text-decoration: none;
}
.nav-links{
  justify-content: space-around;
  list-style: none;
  width: 2%;
  letter-spacing: 1px;
  font-size: 17px;
}
.nav-links a:hover{
  background-color: grey;
  color:black;
}
.nav-links .icon :nth-child(1){
  width: 10px;
  height: 3px;
  background-color: white;
  
}
#nav-links .icon div{
  width: 10px;
  height: 5px;
  background-color: white;
}
.logo-div{
flex: 2;
}

nav{
  display: flex;
  align-items: center;
  flex: 1;
  padding: 1%; 
}
.mobile div{
  width: 10px;
  height: 2px;
  background-color: whitesmoke
}
@media screen and (max-width: 500px) {
  header {
    float: none;
    display: block;
  }
}

#canvas {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
}

/* Footer Styling */
.footer {
  background: grey;
  position: relative;
  height: 200px;
  margin-top: -200px;
  clear: both;
}

.footer-content{
  display: flex;
}

.footer-section {
  padding: 25px;
}